<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Resume</title>
	<link rel="stylesheet" href="style.css">
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  
</head>
<body>

<div class="resume">
   <div class="resume_left">
     <div class="resume_profile">
       <img src="https://i.imgur.com/eCijVBe.png" alt="profile_pic">
     </div>
     <div class="resume_content" id="resume_left">
       <div class="resume_item resume_aboutme">
         <div class="title">
           <p class="bold">
             ABOUT ME
           </p>
           <p class="aboutme">{{aboutMe}}</p>
         </div>
       </div>
       <div class="resume_item resume_info">
         <div class="title">
           <p class="bold">{{ PersonalInfo['name'] }}</p>
           <!-- <p class="regular">Designer</p> -->
         </div>
         <ul>
           <li>
             <div class="icon">
               <i class="fas fa-map-signs"></i>
             </div>
             <div class="data">
               {{PersonalInfo['location']}}
             </br>
              {{PersonalInfo['nationAndZip']}}
             </div>
           </li>
           <li>
             <div class="icon">
               <i class="fas fa-mobile-alt"></i>
             </div>
             <div class="data">
              {{PersonalInfo['phone']}}
             </div>
           </li>
           <li >
             <div class="icon">
               <i class="fas fa-envelope"></i>
             </div>
             <div class="data">
              {{PersonalInfo['email']}}
             </div>
           </li>
           <li v-if="PersonalInfo['blog']">
             <div class="icon">
               <i class="fab fa-weebly"></i>
             </div>
             <div class="data">
               {{PersonalInfo['blog']}}
             </div>
           </li>
         </ul>
       </div>
       <div class="resume_item resume_skills">
         <div class="title">
           <p class="bold">skill's</p>
         </div>
         <ul>
          <li v-for="(data,key) in Skills['skill']" key="key">
            <div class="skill_name">
              {{data}}
            </div>
            <div class="skill_progress">
              <span :style="'width : '+Skills['proficiency'][key]+'%'"></span>
            </div>
            <div class="skill_per">{{Skills['proficiency'][key]}}%</div>
          </li>
           
         </ul>
       </div>
       <div class="resume_item resume_lang">
         <div class="title">
           <p class="bold">Langueges</p>
         </div>
         <ul>
          <li v-for="(data,key) in Languege['lang']" key="key">
            <div class="lang_name">
              {{data}}
            </div>
            <div class="lang_progress">
              <span :style="'width : '+Languege['proficiency'][key]+'%'"></span>
            </div>
            <div class="lang_per">{{Languege['proficiency'][key]}}%</div>
          </li>
         </ul>
       </div>
       <div class="resume_item resume_hobby">
        <div class="title">
             <p class="bold">Hobby</p>
           </div>
         <p class="hobby">
           {{Hobby}}
         </p>
      </div>
     </div>
  </div>
  <div class="resume_right" id="resume_right">
    <div class="resume_item resume_work">
        <div class="title">
           <p class="bold">Work Experience</p>
         </div>
        <ul>
            <li v-for="(institution,index) in WorkExperience['institution']" key="index">
                <div class="date">{{WorkExperience['period'][index]}}</div> 
                <div class="info">
                     <p class="semi-bold">{{WorkExperience['position'][index]}}-{{WorkExperience['institution'][index]}}, {{WorkExperience['location'][index]}}</p> 
                  <p v-if="WorkExperience['highlight'][index]">{{WorkExperience['highlight'][index]}}</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="resume_item resume_education">
      <div class="title">
           <p class="bold">Education</p>
         </div>
      <ul>
            <li v-for="(institution, index) in Education['institution']" key="index">
                <div class="date">{{Education['period'][index]}}</div> 
                <div class="info">
                     <p class="semi-bold">{{Education['major'][index]}}</p> 
                     <p class="semi-bold">{{institution}}, {{Education['location'][index]}}</p>
                  <p class="highlight">{{Education['highlight'][index]}}</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="resume_item resume_github">
      <div class="title">
           <p class="bold">Github Work</p>
         </div>
      <ul>
            <li v-for="(name, index) in GithubWork['name']" key="index">
                <div class="date">{{GithubWork['name'][index]}}&nbsp;&nbsp;&nbsp;<i class="fas fa-star icon_color"></i>{{GithubWork['star'][index]}} --{{GithubWork['lang'][index]}}</div> 
                <div class="info">
                     <p class="semi-bold">{{GithubWork['abstract'][index]}}</p> 
                </div>
            </li>
        </ul>
    </div>
    
  </div>
</div>
<script src="script.js"></script>
</body>
</html>